.bg-parent {
  	width: 100%;
  	height: 2489px;
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 401px 165px;
  	box-sizing: border-box;
  	isolation: isolate;
  	gap: 10px;
  	text-align: center;
  	font-size: 12px;
  	color: #fff;
  	font-family: Poppins;
}
.bg {
  	width: 1636px;
  	height: 2489px;
  	margin: 0 !important;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #2e2f33;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 154px 98px;
  	box-sizing: border-box;
  	z-index: 0;
}
.buttons-site-page {
  	width: 1351px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 25px;
  	background-color: #000;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 10px 1px;
  	box-sizing: border-box;
  	gap: 33px;
}
.site-navigation-bar {
  	border-radius: 25px;
  	background-color: rgba(0, 0, 0, 0);
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 15px 19px;
  	gap: 19px;
  	font-size: 24px;
}
.site-navigation-bar-child {
  	height: 54px;
  	width: 54px;
  	position: relative;
  	border-radius: 15px;
  	object-fit: cover;
}
.focusroom-design-system {
  	width: 204px;
  	position: relative;
  	line-height: 24px;
  	display: inline-block;
  	flex-shrink: 0;
}
.link-text-parent {
  	display: flex;
  	align-items: flex-start;
  	gap: 23px;
  	color: #f5f5f5;
}
.link-text {
  	height: 37px;
  	width: 141px;
  	position: relative;
}
.overview {
  	position: absolute;
  	top: 0%;
  	left: 10.64%;
  	line-height: 24px;
}
.foundations2 {
  	position: absolute;
  	top: 0%;
  	left: -2.84%;
  	line-height: 24px;
  	flex-shrink: 0;
}
.components {
  	height: 37px;
  	width: 156px;
  	position: relative;
}
.components2 {
  	position: absolute;
  	top: 0%;
  	left: -0.9%;
  	line-height: 24px;
  	flex-shrink: 0;
}
.patterns2 {
  	position: absolute;
  	top: 0%;
  	left: 14.18%;
  	line-height: 24px;
}
.buttons-wrapper {
  	align-self: stretch;
  	height: 45px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 30px;
}
.buttons {
  	height: 45px;
  	flex: 1;
  	position: relative;
  	line-height: 36px;
  	display: inline-block;
}
.primarysecondary {
  	align-self: stretch;
  	height: 888px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 10px 10px 79px;
  	box-sizing: border-box;
  	position: relative;
  	isolation: isolate;
  	gap: 10px;
}
.primarysecondary-inner {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 2px 10px;
  	z-index: 0;
  	flex-shrink: 0;
}
.frame-wrapper {
  	width: 1356px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 10px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.frame-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 36px;
}
.content-box-parent {
  	height: 617px;
  	width: 460px;
  	display: flex;
  	align-items: flex-end;
  	flex-wrap: wrap;
  	align-content: flex-end;
  	gap: 20px;
}
.content-box {
  	border-radius: 15px;
  	background-color: rgba(0, 0, 0, 0);
  	overflow: hidden;
  	display: grid;
  	grid-template-columns: repeat(2, auto);
  	align-content: start;
  	column-gap: 34px;
  	row-gap: 6px;
  	padding-left: 21px;
  	padding-right: 21px;
  	padding-top: 27px;
  	padding-bottom: 27px;
  	flex-shrink: 0;
  	font-size: 16px;
}
.primary {
  	width: 160px;
  	height: 24px;
  	position: relative;
  	font-size: 24px;
  	line-height: 24px;
  	display: inline-block;
  	grid-column: 1;
  	grid-row: 1 / span 2;
}
.secondary {
  	position: relative;
  	font-size: 24px;
  	line-height: 24px;
  	grid-column: 2;
  	grid-row: 1 / span 2;
  	height: 24px;
}
.primary-button {
  	width: 188px;
  	height: 57px;
  	position: relative;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	overflow: hidden;
  	grid-column: 1;
  	grid-row: 3 / span 4;
  	color: #000;
}
.next {
  	position: absolute;
  	top: calc(50% - 11.5px);
  	left: calc(50% - 50px);
  	display: inline-block;
  	width: 100px;
  	height: 23px;
}
.secondary-button {
  	width: 192px;
  	height: 61px;
  	position: relative;
  	border-radius: 10px;
  	background-color: #0d131c;
  	border: 2px solid #ef4444;
  	box-sizing: border-box;
  	overflow: hidden;
  	grid-column: 2;
  	grid-row: 3 / span 4;
  	color: #9aa3b0;
}
.components3 {
  	position: absolute;
  	top: calc(50% - 11.5px);
  	left: calc(50% - 29px);
}
.default {
  	width: 43px;
  	height: 19px;
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	grid-column: 1;
  	grid-row: 7;
}
.default2 {
  	width: 43px;
  	height: 19px;
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	grid-column: 2;
  	grid-row: 7;
}
.primary-button2 {
  	width: 188px;
  	height: 57px;
  	position: relative;
  	border-radius: 10px;
  	background-color: rgba(0, 0, 0, 0.41);
  	border: 2px solid #fdfdfd;
  	box-sizing: border-box;
  	overflow: hidden;
  	grid-column: 1;
  	grid-row: 8 / span 4;
  	color: #fdfdfd;
}
.secondary-button2 {
  	width: 188px;
  	height: 57px;
  	position: relative;
  	border-radius: 10px;
  	background-color: rgba(0, 0, 0, 0.64);
  	border: 2px solid #facc14;
  	box-sizing: border-box;
  	overflow: hidden;
  	grid-column: 2;
  	grid-row: 8 / span 4;
  	color: #fdfdfd;
}
.hover {
  	width: 47px;
  	height: 17px;
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	grid-column: 1;
  	grid-row: 12;
}
.hover2 {
  	width: 47px;
  	height: 17px;
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	grid-column: 2;
  	grid-row: 12;
}
.primary-button3 {
  	width: 188px;
  	height: 57px;
  	position: relative;
  	border-radius: 10px;
  	background-color: #2e2f33;
  	border: 2px solid #fdfdfd;
  	box-sizing: border-box;
  	overflow: hidden;
  	grid-column: 1;
  	grid-row: 13 / span 4;
}
.secondary-button3 {
  	width: 188px;
  	height: 57px;
  	position: relative;
  	border-radius: 10px;
  	background-color: rgba(0, 0, 0, 0.33);
  	border: 2px solid #22c55d;
  	box-sizing: border-box;
  	overflow: hidden;
  	grid-column: 2;
  	grid-row: 13 / span 4;
  	color: #fdfdfd;
}
.pressed {
  	width: 52px;
  	height: 10px;
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	grid-column: 1;
  	grid-row: 17;
}
.pressed2 {
  	width: 52px;
  	height: 10px;
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	grid-column: 2;
  	grid-row: 17;
}
.primary-button4 {
  	width: 188px;
  	height: 57px;
  	position: relative;
  	border-radius: 10px;
  	background-color: #9aa3b0;
  	border: 2px solid #fdfdfd;
  	box-sizing: border-box;
  	overflow: hidden;
  	grid-column: 1;
  	grid-row: 18 / span 4;
  	color: #fdfdfd;
}
.secondary-button4 {
  	width: 188px;
  	height: 57px;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 10px;
  	background-color: rgba(0, 0, 0, 0);
  	border: 2px solid #fdfdfd;
  	box-sizing: border-box;
  	overflow: hidden;
  	grid-column: 2;
  	grid-row: 18 / span 4;
  	color: rgba(87, 87, 88, 0.93);
}
.disabled {
  	width: 55px;
  	height: 22px;
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	grid-column: 1;
  	grid-row: 22;
}
.disabled2 {
  	width: 55px;
  	height: 22px;
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	grid-column: 2;
  	grid-row: 22;
}
.frame-container {
  	width: 209px;
  	border-radius: 15px;
  	background-color: rgba(0, 0, 0, 0);
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 7px 14px;
  	box-sizing: border-box;
}
.high-contrast-primary-buttons-wrapper {
  	flex: 1;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	max-width: 100%;
}
.high-contrast-primary {
  	height: 166px;
  	flex: 1;
  	position: relative;
  	line-height: 30px;
  	display: inline-block;
}
.outlined-secondary-action-butt-wrapper {
  	height: 181px;
  	width: 201px;
  	border-radius: 15px;
  	background-color: rgba(0, 0, 0, 0);
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 7px 14px;
  	box-sizing: border-box;
}
.outlined-secondary-action {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	line-height: 30px;
}
.frame-group {
  	height: 866px;
  	width: 413px;
  	display: flex;
  	align-items: center;
  	padding: 0px 10px;
  	box-sizing: border-box;
  	position: relative;
  	isolation: isolate;
  	gap: 7px;
  	font-size: 16px;
  	color: #9aa3b0;
}
.iphone-17-1-wrapper {
  	height: 874px;
  	margin: 0 !important;
  	position: absolute;
  	top: -0.5px;
  	left: 4px;
  	display: flex;
  	align-items: center;
  	z-index: 0;
  	flex-shrink: 0;
}
.iphone-17-1 {
  	height: 874px;
  	width: 402px;
  	position: relative;
  	object-fit: cover;
}
.secondary-button-wrapper {
  	height: 57px;
  	width: 193px;
  	position: absolute;
  	margin: 0 !important;
  	top: 707.5px;
  	left: 10px;
  	z-index: 1;
  	flex-shrink: 0;
}
.secondary-button5 {
  	position: absolute;
  	width: calc(100% + 4px);
  	top: -2px;
  	right: -2px;
  	left: -2px;
  	border-radius: 10px;
  	background-color: #0d131c;
  	border: 2px solid #ef4444;
  	box-sizing: border-box;
  	height: 61px;
  	overflow: hidden;
}
.components7 {
  	position: absolute;
  	top: calc(50% - 11.5px);
  	left: calc(50% - 19.5px);
}
.primary-button5 {
  	height: 61px;
  	width: 193px;
  	position: absolute;
  	margin: 0 !important;
  	top: 705.5px;
  	left: 214px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	z-index: 2;
  	color: #000;
}
.next5 {
  	position: absolute;
  	top: calc(50% - 11.5px);
  	left: calc(50% - 49.5px);
  	display: inline-block;
  	width: 100px;
  	height: 23px;
}
.primarysecondary-code-wrapper {
  	width: 347px;
  	margin: 0 !important;
  	position: absolute;
  	top: 22px;
  	left: 955px;
  	display: flex;
  	align-items: center;
  	padding: 10px;
  	box-sizing: border-box;
  	z-index: 1;
  	flex-shrink: 0;
  	text-align: left;
}
.primarysecondary-code {
  	width: 337px;
  	border-radius: 15px;
  	background-color: rgba(0, 0, 0, 0);
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 22px 31px;
  	box-sizing: border-box;
}
.div-data-layerprimary-button {
  	align-self: stretch;
  	position: relative;
  	line-height: 30px;
  	white-space: pre-wrap;
}
.accent-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	padding: 0px 13px;
  	text-align: left;
  	font-family: Inter;
}
.accent {
  	height: 716px;
  	width: 921px;
  	position: relative;
}
.div-data-layerlong-icon-butt-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 15px;
  	background-color: rgba(0, 0, 0, 0);
  	width: 325px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 33px 26px 59px;
  	box-sizing: border-box;
}
.div-data-layerlong-icon {
  	align-self: stretch;
  	position: relative;
  	white-space: pre-wrap;
}
.component-parent {
  	position: absolute;
  	top: 0px;
  	left: 438px;
  	width: 387px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	gap: 27px;
  	text-align: center;
  	font-size: 16px;
  	font-family: Poppins;
}
.accent-button-icon-option-parent {
  	align-self: stretch;
  	border-radius: 15px;
  	background-color: rgba(0, 0, 0, 0);
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 11px 13px;
  	gap: 17px;
}
.accent-button-icon {
  	align-self: stretch;
  	position: relative;
  	font-size: 24px;
  	line-height: 24px;
}
.long-icon-button {
  	align-self: stretch;
  	height: 46px;
  	position: relative;
  	border-radius: 15px;
  	background-color: #fff;
  	overflow: hidden;
  	flex-shrink: 0;
  	color: #000;
}
.long-icon-button-child {
  	position: absolute;
  	top: 13px;
  	left: 143px;
  	width: 25px;
  	height: 25px;
  	object-fit: cover;
}
.check-in {
  	position: absolute;
  	top: 13px;
  	left: 173px;
}
.default3 {
  	width: 43px;
  	height: 36.8px;
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
  	display: inline-block;
  	flex-shrink: 0;
}
.long-icon-button2 {
  	align-self: stretch;
  	height: 46px;
  	position: relative;
  	border-radius: 15px;
  	background-color: rgba(253, 253, 253, 0.32);
  	overflow: hidden;
  	flex-shrink: 0;
  	color: #faf3f3;
}
.check-in2 {
  	position: absolute;
  	top: 13px;
  	left: 172px;
  	display: inline-block;
  	width: 75px;
}
.hover3 {
  	width: 35px;
  	height: 36.8px;
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
  	display: inline-block;
  	flex-shrink: 0;
}
.long-icon-button3 {
  	align-self: stretch;
  	height: 46px;
  	position: relative;
  	border-radius: 15px;
  	background-color: rgba(61, 61, 64, 0.93);
  	border: 1px solid #f5f5f5;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	color: #fdfdfd;
}
.selected {
  	position: relative;
  	font-size: 12px;
  	line-height: 30px;
}
.long-icon-button4 {
  	align-self: stretch;
  	height: 46px;
  	position: relative;
  	border-radius: 15px;
  	background-color: #0d131c;
  	border: 1px solid #fdfdfd;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	color: #fdfdfd;
}
.deactivated-wrapper {
  	width: 89px;
  	height: 36.8px;
  	position: relative;
  	text-align: left;
  	font-size: 12px;
}
.deactivated {
  	position: absolute;
  	top: 10px;
  	left: 7px;
  	line-height: 30px;
  	flex-shrink: 0;
}
.similar-to-the-primary-button-wrapper {
  	width: 367px;
  	height: 183px;
  	position: relative;
  	border-radius: 15px;
  	background-color: rgba(0, 0, 0, 0);
  	overflow: hidden;
  	flex-shrink: 0;
  	font-size: 12px;
}
.similar-to-the {
  	position: absolute;
  	top: 19px;
  	left: 21px;
  	line-height: 30px;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 323px;
}
.long-icon-button5 {
  	width: 388px;
  	height: 52px;
  	position: absolute;
  	margin: 0 !important;
  	top: 2043px;
  	left: 1085px;
  	border-radius: 15px;
  	background-color: #fff;
  	overflow: hidden;
  	flex-shrink: 0;
  	z-index: 1;
  	font-size: 16px;
  	color: #000;
}

